<div class="marquee-bar">
    <div class="marquee-track">
        <span>VIVACE 2026</span><span>TAP &amp; STAMP</span><span>COLLECT ALL 9</span><span>WIN PRIZES</span><span>SMU CCA FAIR</span>
        <span>VIVACE 2026</span><span>TAP &amp; STAMP</span><span>COLLECT ALL 9</span><span>WIN PRIZES</span><span>SMU CCA FAIR</span>
    </div>
</div>
