<nav class="nav">
    <div class="nav-brand">
        <%= eventName %> <span class="star">★</span>&nbsp;<span class="year"><%= eventYear %></span>
    </div>
    <div class="nav-right">Stamp Card</div>
</nav>
